.mainDiv404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.img {
  height: 320px;
}
.pageNotFoundText {
  font-size: 40px;
  font-weight: bold;
  margin-top: 5%;
}
.backToHomeLink {
  margin-top: 1%;
  font-size: 24px;
}
