.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.logoAndAppNameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  border-right: 0.2px solid black;
  padding-right: 10px;
  margin-right: 10px;
  height: 48px;
  margin-left: 15%;
}
.appName {
  font-weight: bold;
  font-size: 22px;
}
.headerButtonsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  margin-right: 7%;
}

.headerButton {
  font-size: 18px;
  font-weight: bold;
}
.signInButtonDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.borderBottom {
  background-color: #4561f1;
  width: 40px;
  height: 4px;
  border-radius: 10px;
}
.borderInactive {
  background-color: #818589;
}
.signInButton {
  color: #4561f1;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 2px;
}
.signInInactive {
  color: #818589;
}
.registerButton {
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  border: none;
  margin-left: 30%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition-duration: 0.1s;
}
.registerActive {
  background-color: #4561f1;
  color: white;
}
.registerButton:hover {
  background-color: #4561f1;
  color: white;
}
.landingPageImageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3.5%;
}
.landingPageText {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5%;
}
.landingPageImage {
  height: 480px;
}
.landingPageBodyDiv {
  display: flex;
  flex-direction: row;
  padding: 4% 5%;
}
.signInRegisterContainerDiv {
  margin-left: 12%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #818589;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerLogoDiv {
  display: flex;
  width: fit-content;
  margin-left: 10%;
}
.logoFooter {
  height: 40px;
  margin-right: 10px;
}
.appNameAndTaglineDiv {
  display: flex;
  flex-direction: column;
}
.appNameFooter {
  font-size: 18px;
  font-weight: bold;
}
.taglineFooter {
  font-size: 14px;
}
.contactFooterDiv {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.contactHeadingFooter {
  font-weight: bold;
}
.contactMediaLogo {
  height: 24px;
}
/* responsive */
@media screen and (max-width: 1680px) {
  .headerButtonsDiv {
    margin-right: 5%;
  }
  .landingPageText {
    font-size: 36px;
  }
}
@media screen and (max-width: 1440px) {
  .landingPageText {
    font-size: 36px;
  }
  .landingPageImage {
    height: 400px;
  }
  .signInButton,
  .registerButton {
    font-size: 16px;
  }
}
@media screen and (max-width: 1366px) {
  .signInButton,
  .registerButton {
    font-size: 14px;
  }
  .landingPageText {
    font-size: 28px;
  }
  .landingPageImage {
    height: 320px;
  }
  .headerButtonsDiv {
    margin-right: 7%;
  }
  .landingPageBodyDiv {
    padding: 3% 4%;
  }
  .appNameFooter,
  .contactHeadingFooter {
    font-size: 14px;
  }
  .taglineFooter,
  .appEmail {
    font-size: 10px;
  }
  .logoFooter {
    height: 32px;
  }
  .footer {
    padding: 5px 5px;
  }
}
@media screen and (max-width: 1080px) {
  .logo {
    height: 32px;
  }
  .appName {
    font-size: 18px;
  }
  .signInButton,
  .registerButton {
    font-size: 12px;
  }
  .landingPageText {
    font-size: 24px;
  }
  .landingPageBodyDiv {
    padding: 3.2% 3%;
  }
  .appNameFooter,
  .contactHeadingFooter {
    font-size: 12px;
  }
  .taglineFooter,
  .appEmail {
    font-size: 8px;
  }
  .landingPageImage {
    height: 320px;
  }
}
