::placeholder {
  color: #7a7979;
}
.registerMainDiv {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.studentOrTeacherSelectDiv {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.selectFormRegister {
  margin-left: 23%;
  margin-bottom: 5%;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.registerOrContinueWithDiv,
.registerWithSocials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nameInput,
.emailInput,
.passwordInput,
.confirmPasswordInput {
  padding: 16px 10px;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  width: 80%;
  margin: 8px;
  outline: none;
  border: none;
  font-size: 16px;
  background-color: #e9f0f8;
}
.registerInButtonComponent {
  padding: 10px 10px;
  width: 84%;
  font-size: 20px;
  background-color: #4561f1;
  border-radius: 15px;
  box-shadow: rgba(69, 97, 241, 0.35) 0pc 5px 15px;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 8%;
  margin-top: 4%;
}
.registerInButtonComponent:hover {
  background-color: #3355ff;
}
.googleLogoRegister,
.facebookLogoRegister {
  padding: 10px 20px;
  height: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.googleLogoRegister:hover,
.facebookLogoRegister:hover {
  background-color: #d1d1d1;
}
.registerWithSocials {
  margin-top: 6%;
}
@media screen and (max-width: 1440px) {
  .nameInput,
  .emailInput,
  .passwordInput,
  .confirmPasswordInput {
    width: 84%;
  }
  .selectFormRegister {
    margin-left: 16%;
  }
  .registerInButtonComponent {
    width: 60%;
  }
}
@media screen and (max-width: 1366px) {
  .nameInput,
  .emailInput,
  .passwordInput,
  .confirmPasswordInput {
    width: 80%;
    margin: 5px;
    font-size: 14px;
  }

  .selectFormRegister {
    margin-left: 20%;
    font-size: 14px;
  }
  .googleLogoRegister,
  .facebookLogoRegister {
    height: 24px;
  }
  .registerInButtonComponent {
    width: 40%;
    font-size: 15px;
  }
}
@media screen and (max-width: 1080px) {
  .nameInput,
  .emailInput,
  .passwordInput,
  .confirmPasswordInput {
    width: 80%;
    margin: 5px;
    font-size: 12px;
  }
  .selectFormRegister {
    margin-left: 20%;
    font-size: 12px;
  }
  .googleLogoRegister,
  .facebookLogoRegister {
    height: 22px;
  }
  .registerInButtonComponent {
    width: 35%;
    font-size: 14px;
  }
}
