.cardSettingDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.cardSettingsIcon,
.deleteicon {
  margin: 5px 8px;
}
.deleteicon {
  height: 24px;
}

.cardSettingsIcon {
  height: 24px;
}
@media screen and (max-width: 1366px) {
  .deleteicon {
    height: 18px;
    margin: 0px 8px;
  }
}
