.dashboardMainDiv {
  display: flex;
  flex-direction: row;
}
.contentDiv {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.topbarDiv {
  height: 130px;
}
.bodyDiv {
  margin: 0;
  padding: 0;
  height: calc(100vh - 130px);
}

@media screen and (max-width: 1366px) {
  .topbarDiv {
    height: 100px;
  }
  .bodyDiv {
    height: calc(100vh - 100px);
  }
}
