.groupDiv {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 22%;
  /* height: 150px; */
  margin-top: 10px;
  margin-right: 1.5%;
  margin-bottom: 1%;
  cursor: pointer;
  justify-content: space-between;
  height: 200px;
  transition-duration: 0.1s;
}
.groupDiv:hover {
  background-color: #e0e0e0;
}
.projectDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.projectSettingsDiv {
  display: flex;
  justify-content: right;
}
.projectSettingsIcon {
  height: 6px;
}
.projectName {
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
  padding-left: 20px;
}
.aboutTheProject {
  margin-top: 6px;
  margin-left: 20px;
  font-size: 18px;
  width: 80%;
  word-wrap: break-word;
  color: #707070;
}
.projectStatsDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-left: 20px;
}
.peopleIconFirst,
.peopleIconSecond,
.peopleIconNumber {
  height: 25px;
}
@media screen and (max-width: 1366px) {
  .groupDiv {
    height: 120px;
    width: 20%;
  }
  .projectName {
    font-size: 18px;
    margin-top: 8px;
  }
  .aboutTheProject {
    font-size: 14px;
  }
  .peopleIconFirst,
  .peopleIconSecond,
  .peopleIconNumber {
    height: 20px;
  }
}
